{% extends 'blog/base.html' %}
{% block content %}
<body>
    <h1 style="font-size:60px;"> <center>Finder</center> </h1>
    <div class="Dashboard">
        <h2><center>Random Generation</center></h2>
	        <center><div id="chosen" class="alert">Choices:</div></center>
            <div>
                <center>
                <textarea id="userInput"></textarea>
                </center>
            </div>
            <center><button id ="choose-winner">PRESS TO SUPPRESS ANXIETY</button></center>
    </div>
</body>
{% endblock content %}
